.btn--primary{
  padding: 8px 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #6366F1;
  border: 2px solid ;
  border-radius: 8px;
}

.btn--secondary{
  padding: 8px 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #E2E8F0;
  border-radius: 8px;
}

.btn--primary:hover{
  background-color: #4345be;
}

.btn--secondary:hover{
  background-color: #E2E8F0;
}
