.input{
  display: flex;
  flex-direction: column;
  color: #1E293B;
  margin-bottom: 5px;
  width: 350px;
}

.input__label{
  color: #1E293B;
  font-weight: bold;
}

.input__text{
  margin-right: 8px;
}

.input__text, .input__date{
  padding: 8px 16px;
  background-color:  #fcfcfc;
  border: 2px solid #E2E8F0;
  border-radius: 4px;
}

.input__date{
  width: 250px;
  margin-top: 8px;
}

input[type="file"] {
  display: none;
}

.input__imglabel{
  color: #1E293B;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 2px solid #E2E8F0;
}
