.textarea{
  display: flex;
  flex-direction: column;
  color: #1E293B;
  margin-bottom: 12px;
  width: 650px;
  margin-right: 8px;
}

.textarea__text{
  height: 150px;
}

.textarea__label, .checkbox__label{
  color: #1E293B;
  font-weight: bold;
}

.textarea__text{
  padding: 8px 16px;
  background-color: #fff;
  border: 2px solid #E2E8F0;
  border-radius: 4px;
}