.title{
  font-size: 18px;
  font-weight: bold;
}
.new-product{
  padding: 18px 80px;
  height: 100%;
  background-color: white;
  color: #1E293B;
  /* overflow: scroll; */
}

.devider{
  margin: 16px 0;
}

.input-container{
  display: flex;
  width: 200px;
}
.input-tag{
  border: 2px solid #dddd;
  border-radius: 4px;
  margin-top: 5px;
  padding: 1px 2px;
}

.form__action{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.split{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

Button{
  margin-left: 4px;
}

.image-preview{
  width: 150px;
  height: 150px;
  border: 2px solid #dddd;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  color: #1E293B;
}
.image{
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.input__fileUpload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox{
  margin-right: 8px;
  width: 18px;
  height: 18px;
  background-color: #1E293B;
  
}