.select{
  display: flex;
  flex-direction: column;
  color: #1E293B;
  margin-bottom: 10px;
}

.select__label{
  color: #1E293B;
  font-weight: bold;
}

.select__items{
  padding: 8px 20px;
  background-color: #fcfcfc;
  border: 2px solid #dddd;
  border-radius: 4px;
  color: #1E293B;
}